/* cabeçalho */

body {   
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-image: linear-gradient(45deg, var(--header-bg1), var(--header-bg2), var(--header-bg3));
}

.home-page-cabecalho {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.home-page img {
    width: 11rem;
}

.home-page header legend {
    display: flex;
}

.home-page-menu a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
    margin-right: 40px;
    color: #000000;
    font-weight: bold;

    transition: 800ms;
}

.home-page a:hover {
    color: white;
   
    border-bottom: 2px solid white;

}

/* rodape */

.rodape-conteudo {
    background: black;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

.rodape-secao {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.rodape-redesociais {
    text-align: center;
}

.rodape-titulo-redesociais {
    font-size: 1.4rem;
    text-align: center;
    color: orange;
    letter-spacing: 0.16rem;
}

.rodape-redesociais img {
    cursor: pointer;
    margin-left: 20px;
}

.rodape-titulo-contato {
    font-size: 1.4rem;
    text-align: center;
    color: orange;
    letter-spacing: 0.16rem;
}

.rodape-contato p {
    line-height: 2rem;
}

.rodape-contato p span {
    color: orange;
}



