/* cabeçalho */

body {   
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}


:root {
    --header-bg1: #ffd31d;
    --header-bg2:#d63447;
    --header-bg3: #f57b51;
    --title-color: #e7272d;
}

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    background-image: linear-gradient(45deg, var(--header-bg1), var(--header-bg2), var(--header-bg3));
}

.home-page-cabecalho {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.home-page img {
    width: 11rem;
}

.home-page header legend {
    display: flex;
}

.home-page-menu a {
    font-size: 30px;
    text-decoration: none;
    margin: 10px;
    margin-right: 40px;
    color: #000000;
    font-weight: bold;

    transition: 800ms;
}

.home-page a:hover {
    color: white;
   
    border-bottom: 2px solid white;

}

/* rodape */

.page-home-rodape {
    margin-top: 30px;
    position: absoulte;
    bottom: 0;
    height: 100%;
}

.page-home-rodape aside{
    background: #000000;
    margin-top: 30px;
}

.page-home-rodape legend {
    text-align: center;   
    float: right; 
}

.page-home-rodape h4,
.page-home-rodape p {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
    color: #f5f5f5;
    line-height: 14px;
    padding: 8px;
}

.page-home-rodape p {
    margin-top: 30px;
}



